.link {
  cursor: pointer;
}
.collection-item.likes {
  display: flex;
  justify-content: space-between;
}
.vote-box {
  cursor: pointer;
  display: grid;
  grid-template-columns: 50px 10px;
  align-items: center;
}
